.results-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.results-container h2 {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-top: 2%;
  height: 25%;
  width: 90%;
  font-size: 4vw;
  border-bottom: 2px solid black;
}

.results-container .results-scroll {
  width: 90%;
  height: 60%;
  display:flex;
  justify-content: center;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.results-container .results-scroll::-webkit-scrollbar {
  display: none;
}

.results-container .results-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.results-container .results-area .download {
  width: 15%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container .results-area .download img {
  background-color: rgb(255, 255, 0, 0.5);
  border-radius: 10px;
  border: 2px solid black;
  margin: 0;
  height: 80%;
  width: 50%;
}

.results-container .results-area .download p {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1vw;
}

.results-container .results-area .download img:hover {
  background-color: rgb(255, 255, 0);
}

.results-container .results-area .download img:active {
  background-color: rgb(255, 255, 0, 0.5);
}

#results-type-two {
  display: flex;
  flex-direction: column;
}

#results-type-two h3 {
  margin-top: 0;
}

#results-type-two .output {
  width: 30%;
  height: 50%;
  margin-top: -5%;
}

.results-area {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.results-area p {
  margin: 1%;
  padding: 0;
}
